body {
    font-family: "Outfit", sans-serif;
    padding-bottom: 56px;
}

.masthead {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.masthead > .container {
    position: relative;
    z-index: 2;
}
    
.nav-link {
    font-size: 12px;
}
    
.nav.special {
    border: 1px solid #b4b4b4;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
}
    
.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
}

.nav-link.special {
    border-radius: 20px;
    transition: background-color 0.3s;
    color: #000000;
}

.nav-link .material-icons {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.nav-link:hover {
    color: #0d6efd;
}

.data.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}